body {
    width: 100%;/*thiết lập độ rộng cho trang web là 100%*/
    background-color: rgb(232, 240, 119);/*tạo màu nền cho trang web */
    min-height: 100vh;/*thiết lập độ cao nhỏ nhất cho trang web là 100vh*/
}
.container{
    background-color: rgb(233, 166, 73);/*tạo màu nền */
    margin-bottom: 0px;/*căn chỉnh lề dưới 0px*/
}
h1{
    color: red;/*tạo màu đỏ cho tiêu đề chữ*/
    font-size: 30px;/*thiết lập kích thước phông chữ là 30px*/
    text-align: center;/*căn chỉnh văn bản ở giữa*/
}
.list{
    font-size: 20px;/*tạo kích thước chữ 20px */
    font-family:  calibri;/*tạo phông chữ là calibri*/
    color: blue;/*tạo màu chữ xanh nước biển */
}
h4{
    color: red;/*tạo màu chữ đỏ cho tiêu đề*/
    font-size: 20px;/*thiết lập kích thước chữ */
}
h5{
    color: blue;/*tạo màu chữ xannh cho tiêu đề*/
    font-size: 16px;/*thiết lập kích thước chữ */
    line-height: 2px;/*thiết lập đường cao dòng là 2px*/
}
.red{
    color: red;/*tạo màu chữ đỏ cho tiêu đề*/
}
.text {
    display: flex;/*trình bày bỗ cục linh hoạt*/
}
.hoai{
    position: relative;/*thiết lập vị trí của phần tử mà không làm thay đổi vị trí ban đầu của nó*/
    left: 10px;/*căn chỉnh lề trái 10px*/
    width: 80%;/*tạo độ rộng 80%*/
}